/* This document contains programming examples provided by Scribe for illustrative purposes only. Scribe grants
   you a nonexclusive copyright license to use all programming code examples from which you can generate similar
   functionality tailored to your own specific needs.

   These examples have not been thoroughly tested under all conditions and are provided to you "AS IS" without
   any warranties of any kind. Therefore, Scribe cannot guarantee or imply reliability, serviceability, or 
   functionality of these programs. The implied warranties of non-infringement, merchantability, and fitness for
   a particular purpose are expressly disclaimed.
*/

.table-fixed thead {
  width: 97%;
}

.table-fixed tbody {
  height: 400px;
  overflow-y: auto;
  width: 100%;
}


.table-fixed thead, .table-fixed tbody, .table-fixed th, .table-fixed td, .table-fixed tr {
  display: block;
}


.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.alt-row { background-color: #f9f9f9; }


/* Target field related */
.mappedField { 
    width: 100%;
}

.formulaAlignRight, .deleteAlignRight { float: right; }

.inputCBVMain {width: 200px;}
.inputCBVAdd {width: 105px;}

.licenseFooter{
  margin-left: 20px;
}

.statusIcon{
  padding-right: 7px;
  margin-top:-5px;
}